// colors
$black: #000;
$white: #fff;
$background: #222a36;
$darker: #1f2632;
$purple: #676cdb;
$blue: #3aafc9;
$green: #03bb91;
$grey: #191919;
$browser-red: #ff5f57;
$browser-yellow: #febc2e;
$browser-green: #28c840;

// Typography
$text-color: #C0C0C0;
$font: 'Gothic A1';
$font-code: 'Source Code Pro', monospace;
$font-system: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif;
$text-size: 2.2rem;
$text-style: normal;
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semi-bold: 600;
$text-bold: 700;
$text-extra-bold: 800;
$text-extra-heckin-bold: 850;

// Easings
$standard-ease: cubic-bezier(0.4, 0, 0.2, 1);
$decelerate-ease: cubic-bezier(0, 0, 0.2, 1);
$accelerate-ease: cubic-bezier(0.4, 0, 1, 1);

// Mobile Nav
$nav-timing: 100ms;
$nav-left-offset: 60vw;
$nav-top-offset: 95px;
$nav-top-offset-sm: 60px;

:root {
	// Colors
	--black: #{$black};
	--white: #{$white};
	--background: #{$background};
	--darker: #{$darker};
	--purple: #{$purple};
	--blue: #{$blue};
	--green: #{$green};
	--grey: #{$grey};
	--browser-red: #{$browser-red};
	--browser-yellow: #{$browser-yellow};
	--browser-green: #{$browser-green};
	// Typography
	--text-color: #{$text-color};
	--text-light: #{$text-light};
	--text-regular: #{$text-regular};
	--text-medium: #{$text-medium};
	--text-semi-bold: #{$text-semi-bold};
	--text-bold: #{$text-bold};
	--text-extra-bold: #{$text-extra-bold};
	--text-extra-heckin-bold: #{$text-extra-heckin-bold};
	// Mobile Nav
	--nav-timing: #{$nav-timing};
	--standard-ease: #{$standard-ease};
	// card grid
	--flexGap: 2rem;
	--termHead: 28px;
}

// Breakpoints / Widths
$max-container-width: 1650px;
$grid-breakpoints: (xxs: 0, xs: 380px, xsm: 480px, sm: 675px, md: 980px, lg: 1200px, xl: 1440px, xxl: $max-container-width) !default;

/* Bootstraps breakpoints
  xs: min-width 380px
  sm: min-width 675px
  md: min-width 980px
  lg: min-width: 1200px;
  xl: min-width: 1650px;
*/